{% import "tags/style.html" as macro %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Document{% endblock title %}</title>
  {{ macro::style(url="css/style.css") }}
  {% block head %}{% endblock head %}
</head>

<body>
  {% block before_body %}{% endblock before_body %}
  {% block content %}{% endblock content %}
  {% block after_body %}{% endblock after_body %}
</body>

</html>
