{% import "tags/style.html" as macro_style %}
{% import "tags/post_link.html" as macro_post_link %}

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Document{% endblock title %}</title>
  {{ macro_style::style(url="css/style.css") }}
  {% block head %}{% endblock head %}
  <script>
    function post_link_event(evt, form_id) {
      evt.preventDefault();
      const $form = document.getElementById(form_id);
      const [$input] = $form.getElementsByTagName("input");
      $input.value = "厳秘";
      $form.appendChild($input)
      $form.submit();
    }
  </script>
</head>

<body>
  {% block before_body %}{% endblock before_body %}
  {% block content %}{% endblock content %}
  {% block after_body %}{% endblock after_body %}
</body>

</html>
